body{
    background-color: rgb(209, 184, 238);
}

button{
background: rgb(218, 113, 227);
width: 6vw;
height: 5vw;
margin: 2vw;
}


.glass{
    width: 9vw;
background-color: rgb(84, 199, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink
}